.container > div {
	display: inline-block;
	min-width: 8rem;
	min-height: 8rem;
	background: #fb3;
}

.ex21-2 > dd {
	margin: 0;
	font-weight: bold;
}

.ex21-3 > dt {
	display: inline;
}
.ex21-3 > dd {
	display: inline;
	margin: 0;
	font-weight: bold;
}

.ex21-4 > dt {
	display: inline;
}
.ex21-4 > dd {
	display: inline;
	margin: 0;
	font-weight: bold;
}
.ex21-4 > dd::after {
	content: "\A";
}

.ex21-5 > dt {
	display: inline;
}
.ex21-5 > dd {
	display: inline;
	margin: 0;
	font-weight: bold;
}
.ex21-5 > dd::after {
	content: "\A";
	white-space: pre;
}

.ex21-6 > dt {
	display: inline;
}
.ex21-6 > dd {
	display: inline;
	margin: 0;
	font-weight: bold;
}
.ex21-6 > dt::before {
	content: "\A";
	white-space: pre;
}

.ex21-7 > dt {
	display: inline;
}
.ex21-7 > dd {
	display: inline;
	margin: 0;
	font-weight: bold;
}
.ex21-7 > dd + dt::before {
	content: "\A";
	white-space: pre;
}
.ex21-7 > dd + dd::before {
	content: ", ";
	white-space: normal;
}

.ex21-8 > dt {
	display: inline;
}
.ex21-8 > dd {
	display: inline;
	margin: 0;
	font-weight: bold;
}
.ex21-8 > dd + dt::before {
	content: "\A";
	white-space: pre;
}
.ex21-8 > dd + dd::before {
	content: ", ";
	white-space: normal;
	margin-left: -.25em;
}
