.container > div {
	display: inline-block;
	min-width: 8rem;
	min-height: 8rem;
	margin: .5rem;
}

.container pre {
	padding: .5em;
	background: beige;
	line-height: 1.5;
	font-family: Consolas, monospace;
}
code { font: inherit }

.ex22-2 pre {
	background-image: linear-gradient(
	                  rgba(120,0,0,.2) 50%, transparent 0);
	background-size: auto 3em;
}

.ex22-3 pre {
	background-image: linear-gradient(
	                  rgba(120,0,0,.2) 50%, transparent 0);
	background-size: auto 3em;
	background-origin: content-box;
}
