.container > div {
	margin: .5rem;
	padding: .5rem 1rem;
}

@font-face {
	font-family: Ampersand;
	src: local('Baskerville-Italic'), local('GoudyOldStyleT-Italic'), local('Garamond-Italic'), local('Palatino-Italic');
	unicode-range: U+26;
}

.ex25-2 {
	font-family: Ampersand, Helvetica, sans-serif;
}
