.container > div {
	display: inline-block;
	width: 8em;
	height: 8em;
	margin: 1em;
	font: bold 120% sans-serif;
}

.ex28-3 path { fill: none; }

.ex28-4 path { fill: none; }
.ex28-4 svg {
	display: block;
	overflow: visible;
}

.circular svg {
	display: block;
	overflow: visible;
}
.circular path { fill: none; }

.ex28-6 svg { transition: 10s linear transform; }
.ex28-6 svg:hover { transform: rotate(-2turn); }
