.ex2-1 {
	width: 100px;
	height: 60px;
	margin: 25px;
	background: yellowgreen;
	box-shadow: 0 0 0 10px #655,
		0 0 0 15px deeppink,
		0 2px 5px 15px rgba(0,0,0,.6);
}

.ex2-2 {
	border: 1rem dashed black;
	background-color: green;
}

.ex1-3 {
	border: 1rem solid hsla(0,0%,100%,.5);
	background-color: white;
	background-clip: padding-box;
}

.ex1-4 {
	border: 1rem solid hsla(0,0%,100%,.5);
	background-color: white;
	background-clip: content-box;
}

.ex1-5 {
	border: 1rem solid hsla(0,0%,100%,.5);
	background-color: white;
	background-clip: border-box;
}
