.bg1 {
	padding: 1rem;
	margin: 0 3rem;
	background: url('http://csssecrets.io/images/stone-art.jpg');
}

.bg1 > div {
	/* styling */
	max-width: 16rem;
	padding: 1rem;
	margin: .5rem auto;
}

.ex1-1 {
	border: 1rem solid hsla(0,0%,100%,.5);
	background-color: white;
}

.ex1-2 {
	border: 1rem dashed black;
	background-color: green;
}

.ex1-3 {
	border: 1rem solid hsla(0,0%,100%,.5);
	background-color: white;
	background-clip: padding-box;
}

.ex1-4 {
	border: 1rem solid hsla(0,0%,100%,.5);
	background-color: white;
	background-clip: content-box;
}

.ex1-5 {
	border: 1rem solid hsla(0,0%,100%,.5);
	background-color: white;
	background-clip: border-box;
}
