body {
	min-height: 100vh;
	box-sizing: border-box;
	margin: 0;
	padding: 0 .5rem 10rem;
	font: 120%/1.2;
	background: url("http://csssecrets.io/images/tiger.jpg") 0 / cover fixed;
}

main {
	margin: .5rem auto;
	max-width: 30rem;
	border-radius: .5rem;
	box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset,
	            0 .5em 1em rgba(0, 0, 0, 0.6);
	text-shadow: 0 1px 1px hsla(0,0%,100%,.3);
}

blockquote { font-style: italic }
blockquote cite { font-style: normal; }

.ex18-1 {
	background: hsla(0,0%,100%,.25);
}

.ex18-2 {
	background: hsla(0,0%,100%,.5);
}

.ex18-3 {
	position: relative;
	background: hsla(0,0%,100%,.25);
}

.ex18-3::before {
	content: '';
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background: rgba(255,0,0,.5);
}

.ex18-4 {
	position: relative;
	background: hsla(0,0%,100%,.25);
}

.ex18-4::before {
	background: url("http://csssecrets.io/images/tiger.jpg") 0 / cover fixed;
	content: '';
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -1;
	-webkit-filter: blur(20px);
	filter: blur(20px);
}

.ex18-5 {
	position: relative;
	background: hsla(0,0%,100%,.25) border-box;
	overflow: hidden;
}

.ex18-5::before {
	background: url("http://csssecrets.io/images/tiger.jpg") 0 / cover fixed;
	content: '';
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: -30px;
	z-index: -1;
	-webkit-filter: blur(20px);
	filter: blur(20px);
}
