.container > div {
	display: inline-block;
	width: 12rem;
	margin: .5rem;
	padding: 1.6rem 2rem;
	color: white;
	font: 100%/1.6 serif;
}

.ex19-1 {
	background: #58a;
	background: linear-gradient(-135deg, transparent 2rem, #58a 0);
}

.ex19-2 {
	background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.4) 0)
			no-repeat 100% 0 / 2rem 2rem;
}

.ex19-3 {
	background: #58a;
	background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.4) 0)
			no-repeat 100% 0 / 2rem 2rem,
		linear-gradient(-135deg, transparent 2rem, #58a 0);
}

.ex19-4 {
	background: #58a;
	background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.4) 0)
			no-repeat 100% 0 / 2rem 2rem,
		linear-gradient(-135deg, transparent 1.42rem, #58a 0);
}

.ex19-5 {
	background: #58a;
	background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.4) 0)
			no-repeat 100% 0 / 2rem 2rem,
		linear-gradient(-150deg, transparent 1.5rem, #58a 0);
}

.ex19-6 {
	background: #58a;
	background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.4) 0)
			no-repeat 100% 0 / 3rem 1.73rem,
		linear-gradient(-150deg, transparent 1.5rem, #58a 0);
}

.ex19-7 {
	position: relative;
	background: #58a;
	background: linear-gradient(-150deg, transparent 1.5rem, #58a 0);
}

.ex19-7::before {
	content: '';
	position: absolute;
	top: 0; right: 0;
	background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.4) 0)
			100% 0 no-repeat;
	width: 3rem;
	height: 1.73rem;
}

.ex19-8 {
	position: relative;
	background: #58a;
	background: linear-gradient(-150deg, transparent 1.5rem, #58a 0);
}

.ex19-8::before {
	content: '';
	position: absolute;
	top: 0; right: 0;
	background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.4) 0)
			100% 0 no-repeat;
	width: 1.73rem;
	height: 3rem;
	transform: rotate(-30deg);
}

.ex19-9 {
	position: relative;
	background: #58a;
	background: linear-gradient(-150deg, transparent 1.5rem, #58a 0);
}

.ex19-9::before {
	content: '';
	position: absolute;
	top: 0; right: 0;
	background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.4) 0)
			100% 0 no-repeat;
	width: 1.73rem;
	height: 3rem;
	transform: rotate(-30deg);
	transform-origin: bottom right;
}

.ex19-10 {
	position: relative;
	background: #58a;
	background: linear-gradient(-150deg, transparent 1.5rem, #58a 0);
}

.ex19-10::before {
	content: '';
	position: absolute;
	top: 0; right: 0;
	background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.4) 0)
			100% 0 no-repeat;
	width: 1.73rem;
	height: 3rem;
	transform: translateY(-1.3rem) rotate(-30deg);
	transform-origin: bottom right;
}

.ex19-11 {
	position: relative;
	background: #58a;
	background: linear-gradient(-150deg, transparent 1.5rem, #58a 0);
	border-radius: .5rem;
}

.ex19-11::before {
	content: '';
	position: absolute;
	top: 0; right: 0;
	background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.2) 0, rgba(0,0,0,.4) 0)
			100% 0 no-repeat;
	width: 1.73rem;
	height: 3rem;
	transform: translateY(-1.3rem) rotate(-30deg);
	transform-origin: bottom right;
	border-bottom-left-radius: inherit;
	box-shadow: -.2rem .2rem .3rem -.1rem rgba(0,0,0,.15);
}
