.container {
	margin: 1em;
}

.ex29-3:disabled, .ex29-3[disabled], .ex29-3[aria-disabled="true"] {
	cursor: not-allowed;
}

.ex29-4 {
	width: 10rem;
	height: 10rem;
	background: pink;
	cursor: url('none.cur');
	cursor: none;
}
