.container {
	margin: 1em;
}

button {
	padding: .3em .5em;
	border: none;
	border-radius: 50%;
	background: #58a;
	color: white;
	font: bold 200%/1 sans-serif;
	cursor: pointer;
}
button:hover {
	background-color: green;
}

.ex30-2 {
	border: 15px solid transparent;
}

.ex30-3 {
	border: 15px solid transparent;
	background-clip: padding-box;
}

.ex30-4 {
	border: 15px solid transparent;
	box-shadow: 0 0 0 1px rgba(0,0,0,.3) inset;
	background-clip: padding-box;
}

.ex30-5 {
	border: 15px solid transparent;
	box-shadow: 0 0 0 1px rgba(0,0,0,.3) inset,
		0 .2em .4em -.05em rgba(0,0,0,.5);
	background-clip: padding-box;
}

.ex30-6 {
	position: relative;
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: 0 .2em .4em -.05em rgba(0,0,0,.5);
}
.ex30-6:before {
	content: '';
	position: absolute;
	top: -15px; right: -15px; bottom: -15px; left: -15px;
}
