.container {
	position: relative;
	margin: 1rem;
}

.lightbox {
	background: white;
	padding: 1em;
	font: 150%/1.2 sans-serif;
	text-align: center;
	border-radius: .5em;
}

.ex32-1, .ex32-2, .ex32-3 {
	display: none;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	justify-content: center;
	align-items: center;
}

.ex32-1 > .overlay {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	background: rgba(0,0,0,.8);
}
.ex32-1 > .lightbox {
	z-index: 1;
}

.ex32-2 > .lightbox::before {
	content: "";
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	background: rgba(0,0,0,.8);
	z-index: -1;
}

.ex32-3 > .lightbox {
	box-shadow: 0 0 0 60vmax rgba(0,0,0,.8);
}

.ex32-4::backdrop {
	background: rgba(0,0,0,.8);
}
