.container {
	position: relative;
	margin: 1rem;
}

.container > ul {
	display: inline-block;
	width: 7.2em;
	height: 7em;
	border: 1px solid silver;
	padding: .3em .5em;
	list-style: none;
	margin: .1em;
	font: 100 200%/1.6 'Frutiger LT Std', sans-serif;
	overflow: hidden;
}
.container > ul:hover {
	overflow: auto;
}

.ex34-2 {
	background: radial-gradient(at top, rgba(0,0,0,.3), transparent 70%) no-repeat;
	background-size: 100% .6em;
}

.ex34-3 {
	background: linear-gradient(white, white),
	            radial-gradient(at top, rgba(0,0,0,.3), transparent 70%);
	background-repeat: no-repeat;
	background-size: 100% .6em;
	background-attachment: local, scroll;
}

.ex34-4 {
	background: linear-gradient(white, hsla(0,0%,100%,0)),
	            radial-gradient(at top, rgba(0,0,0,.3), transparent 70%);
	background-repeat: no-repeat;
	background-size: 100% .6em;
	background-attachment: local, scroll;
}

.ex34-5 {
	background: linear-gradient(white 30%, transparent),
	            radial-gradient(at 50% 0, rgba(0,0,0,.3), transparent 70%);
	background-repeat: no-repeat;
	background-size: 100% 2em, 100% .6em;
	background-attachment: local, scroll;
}

.ex34-6 {
	background: linear-gradient(white .6em, hsla(0,0%,100%,0)) 0 0 / 100% 2em,
	            radial-gradient(at top, rgba(0,0,0,.3), transparent 70%) 0 0 / 100% .6em,
	            linear-gradient(to top, white .6em, hsla(0,0%,100%,0)) bottom / 100% 2em,
	            radial-gradient(at bottom, rgba(0,0,0,.3), transparent 70%) bottom / 100% .6em;
	background-repeat: no-repeat;
	background-attachment: local, scroll, local, scroll;
}
