.container {
	margin: 1rem;
}
.container img {
	width: 15em;
}

.ex35-1 {
	position:relative;
	display: inline-block;
}
.ex35-1 > div {
	position: absolute;
	top: 0; bottom: 0; left: 0;
	width: 50%;
	overflow: hidden;
}
.ex35-1 img {
	display: block;
}

.ex35-2 {
	position:relative;
	display: inline-block;
}
.ex35-2 > div {
	position: absolute;
	top: 0; bottom: 0; left: 0;
	width: 50%;
	overflow: hidden;
	resize: horizontal;
}
.ex35-2 img {
	display: block;
}

.ex35-3 {
	position:relative;
	display: inline-block;
}
.ex35-3 > div {
	position: absolute;
	top: 0; bottom: 0; left: 0;
	width: 50%;
	max-width: 100%;
	overflow: hidden;
	resize: horizontal;
}
.ex35-3 > div:before {
	content: '';
	position: absolute;
	right: 0; bottom: 0;
	width: 12px; height: 12px;
	background: white;
	cursor: ew-resize;
}
.ex35-3 img {
	display: block;
}

.ex35-4 {
	position:relative;
	display: inline-block;
}
.ex35-4 > div {
	position: absolute;
	top: 0; bottom: 0; left: 0;
	width: 50%;
	max-width: 100%;
	overflow: hidden;
	resize: horizontal;
}
.ex35-4 > div:before {
	content: '';
	position: absolute;
	right: 0; bottom: 0;
	width: 12px; height: 12px;
	padding: 5px;
	background: linear-gradient(-45deg, white 50%, transparent 0);
	background-clip: content-box;
	cursor: ew-resize;
	-webkit-filter: drop-shadow(0 0 2px black);
	filter: drop-shadow(0 0 2px black);
}
.ex35-4 img {
	display: block;
	user-select: none;
}
