.container > div {
	display: inline-block;
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	background-color: yellowgreen;
}

.ex14-1 {
}

.ex14-2 {
	background-image: linear-gradient(to right, transparent 50%, #655 0);
}

.ex14-3 {
	background-image: linear-gradient(to right, transparent 50%, #655 0);
}

.ex14-3::before {
	content: '';
	display: block;
	margin-left: 50%;
	height: 100%;
}

.ex14-4 {
	background-image: linear-gradient(to right, transparent 50%, #655 0);
}

.ex14-4::before {
	content: '';
	display: block;
	margin-left: 50%;
	height: 100%;
	border-radius: 0 100% 100% 0 / 50%;
	background-color: inherit;
	transform-origin: left;
}

.ex14-5 {
	background-image: linear-gradient(to right, transparent 50%, #655 0);
}

.ex14-5::before {
	content: '';
	display: block;
	margin-left: 50%;
	height: 100%;
	border-radius: 0 100% 100% 0 / 50%;
	background-color: inherit;
	transform-origin: left;
	transform: rotate(.1turn);
}

.ex14-6 {
	background-image: linear-gradient(to right, transparent 50%, #655 0);
}

.ex14-6::before {
	content: '';
	display: block;
	margin-left: 50%;
	height: 100%;
	border-radius: 0 100% 100% 0 / 50%;
	background-color: inherit;
	transform-origin: left;
	transform: rotate(.2turn);
}

.ex14-7 {
	background-image: linear-gradient(to right, transparent 50%, #655 0);
}

.ex14-7::before {
	content: '';
	display: block;
	margin-left: 50%;
	height: 100%;
	border-radius: 0 100% 100% 0 / 50%;
	background-color: inherit;
	transform-origin: left;
	transform: rotate(.4turn);
}

.ex14-8 {
	background-image: linear-gradient(to right, transparent 50%, #655 0);
}

.ex14-8::before {
	content: '';
	display: block;
	margin-left: 50%;
	height: 100%;
	border-radius: 0 100% 100% 0 / 50%;
	background-color: inherit;
	transform-origin: left;
	transform: rotate(.6turn);
}

.ex14-9 {
	background-image: linear-gradient(to right, transparent 50%, #655 0);
}

.ex14-9::before {
	content: '';
	display: block;
	margin-left: 50%;
	height: 100%;
	border-radius: 0 100% 100% 0 / 50%;
	background-color: #655;
	transform-origin: left;
	transform: rotate(.1turn);
}

.ex14-10 {
	background-image: linear-gradient(to right, transparent 50%, #655 0);
}

.ex14-10::before {
	content: '';
	display: block;
	margin-left: 50%;
	height: 100%;
	border-radius: 0 100% 100% 0 / 50%;
	background-color: #655;
	transform-origin: left;
	transform: rotate(.2turn);
}

.ex14-11 {
	background-image: linear-gradient(to right, transparent 50%, #655 0);
}

.ex14-11::before {
	content: '';
	display: block;
	margin-left: 50%;
	height: 100%;
	border-radius: 0 100% 100% 0 / 50%;
	background-color: #655;
	transform-origin: left;
	transform: rotate(.4turn);
}

.ex14-12 {
	background-image: linear-gradient(to right, transparent 50%, #655 0);
}

.ex14-12::before {
	content: '';
	display: block;
	margin-left: 50%;
	height: 100%;
	border-radius: 0 100% 100% 0 / 50%;
	background-color: #655;
	transform-origin: left;
	transform: rotate(.5turn);
}

@keyframes spin {
	to { transform: rotate(.5turn); }
}

@keyframes bg {
	50% { background: #655; }
}

.ex14-13 {
	background-image: linear-gradient(to right, transparent 50%, #655 0);
}

.ex14-13::before {
	content: '';
	display: block;
	margin-left: 50%;
	height: 100%;
	border-radius: 0 100% 100% 0 / 50%;
	background-color: inherit;
	transform-origin: left;
	animation: spin 3s linear infinite, bg 6s step-end infinite;
}

div.ex14-14 {
	position: relative;
	line-height: 8rem;
	height: auto;
	background-image: linear-gradient(to right, transparent 50%, #655 0);
	color: transparent;
	text-align: center;

}

.ex14-14::before {
	content: '';
	position: absolute;
	top: 0; left: 50%;
	width: 50%; height: 100%;
	border-radius: 0 100% 100% 0 / 50%;
	background-color: inherit;
	transform-origin: left;
	animation: spin 50s linear infinite, bg 100s step-end infinite;
	animation-play-state: paused;
	animation-delay: inherit;
}

.ex14-15 {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 10px;
	transform: rotate(-90deg);
}

svg {
	background: yellowgreen;
	border-radius: 50%;
}

circle {
	fill: yellowgreen;
	stroke: #655;
	stroke-width: 32;
}

@keyframes grow { to { stroke-dasharray: 100 100 } }

.ex14-15.animated circle {
	animation: grow 2s infinite linear;
}