.container > div {
	background: rgba(0,0,0,.1);
}

figure {
	padding: 10px;
	border: 1px solid silver;
}

.ex36-2 > figure {
	float: left;
	max-width: 300px;
}
.ex36-2 > p {
	clear: both;
}

.ex36-3 {
	text-align: center;
}
.ex36-3 > p {
	text-align: left;
}
.ex36-3 > figure {
	display: inline-block;
	max-width: 300px;
}
.ex36-3 > figure > img {
	max-width: 100%;
}

.ex36-4 > figure {
	max-width: 300px;
	max-width: min-content;
	margin: auto;
}
.ex36-4 > figure > img {
	 max-width: inherit;
}
