.container {
	margin: 0;
	font: 100%/1.5 sans-serif;
}

.container .header {
	background: orange;
	color: white;
}

.container .footer {
	background: #333;
	color: white;
}

.container .section + .section {
	background: #eee;
}

.ex39-1 .header,
.ex39-1 .section,
.ex39-1 .footer {
	border: 1px solid transparent;
}
.ex39-1 .wrapper {
	max-width: 700px;
	margin: 1em auto;
}

.ex39-2 .header,
.ex39-2 .section,
.ex39-2 .footer {
	padding: 1em;
	padding: 1em calc(50% - 350px);
}
