.container > div {
	display: inline-block;
}
.panoramic {
	width: 150px; height: 150px;
	background: url('http://c3.staticflickr.com/3/2671/3904743709_74bc76d5ac_b.jpg');
	background-size: auto 100%;
}

@keyframes panoramic {
	to { background-position: 100% 0; }
}

.ex46-2 {
	animation: panoramic 10s linear infinite alternate;
}

.ex46-3:hover, .ex46-3:focus {
	animation: panoramic 10s linear infinite alternate;
}

.ex46-4 {
	animation: panoramic 10s linear infinite alternate;
	animation-play-state: paused;
}
.ex46-4:hover, .ex46-4:focus {
	animation-play-state: running;
}
