.path {
	width: 150px; height: 150px;
	padding: 10px;
	border-radius: 50%;
	background: #fb3;
}
.avatar {
	width: 50px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
}
.avatar > img {
	display: block;
	width: inherit;
}


@keyframes spin1 {
	to { transform: rotate(1turn); }
}
.ex47-1 .avatar {
	margin: 0 auto;

	animation: spin1 3s infinite linear;
	transform-origin: 50% 75px;
}
.ex47-1 .avatar > img {
	animation: inherit;
	animation-direction: reverse;
}


@keyframes spin5 {
	from {
		transform: rotate(0turn)
			translateY(-75px) translateY(50%)
			rotate(1turn)
	}
	to {
		transform: rotate(1turn)
			translateY(-75px) translateY(50%)
			rotate(0turn);
	}
}
.ex47-5 .avatar {
	display: block;
	margin: calc(50% - 25px) auto 0;

	animation: spin5 3s infinite linear;
}
.ex47-5 .path {
	margin: 50px auto;
}
